<section class="cards">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">TODO</h4>

          <app-card-item></app-card-item>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Doing</h4>
          ...
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">DONE</h4>
          ...
        </div>
      </div>
    </div>
  </div>
</section>
